.certificatesection {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 1vw;
    height: 100vh;
}

.certificatesection .title {
    text-align: center;
    padding-top: 1em;
    font-size: 150%;
    font-family: 'Roboto Italic', sans-serif;
    color:#5a450c;
    padding-bottom: 1em;
    border-bottom: 1px solid #5a450c;
    margin-left: 3em;
    margin-right: 3em;
}

.certificatesection .certificatespace {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.certificatesection .certificatespace .slider {
    width: 90%;
}