*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 130%;
}

body {
    width: 100vw;
    background-color: blue;
}

.App {
    width: 100vw;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
}