.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.profilepicture {
    border-radius: 50%;
    width: 50vh;
    padding: 3vh;
}

.introtext {
    padding-right: 5vh;
}

