*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.projectsection {
    width: 100%;
    background-color: #f7e6bd;
    padding-bottom: 1vw;
}

.projectsection .title {
    text-align: center;
    padding-top: 1em;
    font-size: 150%;
    font-family: 'Roboto Italic', sans-serif;
    color:#5a450c;
    padding-bottom: 1em;
    border-bottom: 1px solid #5a450c;
    margin-left: 3em;
    margin-right: 3em;
}